@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Norm', sans-serif;
    src: url(https://dumpster.test/fonts/Norm-Regular.woff) format(woff),
         url(https://dumpster.test/fonts/Norm-Regular.tff) format(truetype);
}

@font-face {
    font-family: 'Norm', sans-serif;
    src: url(https://dumpster.test/fonts/Norm-RegularItalic.woff) format(woff),
         url(https://dumpster.test/fonts/Norm-RegularItalic.tff) format(truetype);

    font-style: italic;
}

@font-face {
    font-family: 'Norm', sans-serif;
    src: url(https://dumpster.test/fonts/Norm-Medium.woff) format(woff),
         url(https://dumpster.test/fonts/Norm-Medium.tff) format(truetype);

    font-weight: 500;
}

@font-face {
    font-family: 'Norm', sans-serif;
    src: url(https://dumpster.test/fonts/Norm-MediumItalic.woff) format(woff),
         url(https://dumpster.test/fonts/Norm-MediumItalic.tff) format(truetype);

    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Norm', sans-serif;
    src: url(https://dumpster.test/fonts/Norm-Semibold.woff) format(woff),
         url(https://dumpster.test/fonts/Norm-Semibold.tff) format(truetype);

    font-weight: 600;
}

@font-face {
    font-family: 'Norm', sans-serif;
    src: url(https://dumpster.test/fonts/Norm-SemiboldItalic.woff) format(woff),
         url(https://dumpster.test/fonts/Norm-SemiboldItalic.tff) format(truetype);

    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Norm', sans-serif;
    src: url(https://dumpster.test/fonts/Norm-Bold.woff) format(woff),
         url(https://dumpster.test/fonts/Norm-Bold.tff) format(truetype);

    font-weight: 700;
}

@font-face {
    font-family: 'Norm', sans-serif;
    src: url(https://dumpster.test/fonts/Norm-BoldItalic.woff) format(woff),
         url(https://dumpster.test/fonts/Norm-BoldItalic.tff) format(truetype);

    font-weight: 700;
    font-style: italic;
}
